body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em
}
p {
  font-size: 1.5em;
  line-height: 1.7em;
}
ul.nav {
  background: #F3EDDD;
  border-bottom: 1px solid #ccc5cf;
  box-shadow: 0 0 5px #888;
}
ul.nav li{
  float: left;
  padding: 15px 20px;
}
ul.nav li#logo {
  padding: 5px;
  margin: 0 0 0 10px;
}
ul.nav li#logo img {
  height: 40px;
}
ul.nav li a {
  font-size: 20px;
  color: #555;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}
ul.nav li a:hover {
  background: none;
  color: #333;
}
.fluid-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.fluid-container .row {
  padding:10px;
}
#teaser {
  background: url(../images/infrastructure_landing.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color #fff;
}
#teaser h1 {
  font-size: 9em;
  color: #444;
 text-shadow: 0.0em 0.0em 0.01em #CCC;
 letter-spacing: 5px;
 margin: 30px 0;
 text-shadow:
  1px 1px 0 #ccc,
  -1px -1px 0 #ccc,  
  1px -1px 0 #ccc,
  -1px 1px 0 #ccc,
  1px 1px 0 #ccc;
}
#teaser h2 {
  font-size: 3em;
  color: #666;
  font-weight: bold;
  margin: 12px 0;
}
#projects {
  background: ##f1f1f1;
}
.projects {
  background: #F3EDDD;
}
.projects .img-circle {
  max-width: 200px;
}
.row.details .row{
  margin-bottom: 20px;
}
.details hr {
  border-color: #cdc8bb;
}





/** Util **/
.centered {
  margin: 0 auto;
}
