%html
  %head
    %title
      = "{{ title }}"
    %link{ rel:"stylesheet", href:"{{site.baseurl}}/css/bootstrap.css"}
    %link{ rel:"stylesheet", href:"{{site.baseurl}}/css/main.css"}

  %body
    %nav{ class:"navbar navbar-default navbar-fixed-top", role:"navigation"}
      .container
        .navbar-left
          %img{src: "{{site.baseurl}}/images/logo.png"}
        %p{ class: "navbar-text"}
        %ul{ class: "nav navbar-nav"}
          %li{ class: "active"}
            %a{ href: "#feedback"}Provide Feedback
          %li{ class: "active"}
            %a{ href: "#get_informed"}Get Informed
          %li{ class: "active"}
            %a{ href: "#about_us"}About
    .fluid-container
      = "{{ content }}"
