<html>
  <head>
    <title>
      {{ title }}
    </title>
    <link href='{{site.baseurl}}css/bootstrap.css' rel='stylesheet'>
    <link href='{{site.baseurl}}css/main.css' rel='stylesheet'>
  </head>
  <body>
    <nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
      <ul class='nav'>
        <li id='logo'>
          <img src='{{site.baseurl}}images/logo.png'>
        </li>
        <li class='active'>
          <a href='/cip'>Get Informed</a>
        </li>
        <li class='active'>
          <a href='/prioritize'>Help Prioritize</a>
        </li>
        <li class='active'>
          <a href='#about_us'>About</a>
        </li>
      </ul>
    </nav>
    <div class='fluid-container'>
      {{ content }}
    </div>
  </body>
</html>
